source https://api.nuget.org/v3/index.json

nuget chessie ~> 0.6
nuget commandlineparser ~> 2.2
nuget fparsec ~> 1.0
nuget nunit ~> 3.9
nuget NUnit3TestAdapter ~> 3.9
nuget Microsoft.NET.Test.Sdk ~> 16.8
nuget Microsoft.Z3.x64 ~> 4.8.9
